<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" routerLink="/admin">
    <img
      src="../../../assets/img/brand/brand.svg"
      alt="brand-img"
      height="40"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="dashboard" routerLinkActive="active"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products" routerLinkActive="active"
          >Products</a
        >
      </li>
    </ul>
    <form class="d-flex">
      <a class="btn btn-outline-danger" routerLink="/">LogOut</a>
    </form>
  </div>
</nav>
