<main class="container">
  <div class="bg-light p-5 rounded border">
    <h1>Ejemplo de "Layout" publico</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eum magni
      unde officiis aut, a, similique porro ipsam delectus iusto odio aspernatur
      cupiditate quis nihil. Recusandae laboriosam commodi corporis quasi!
    </p>
    <a
      class="btn btn-lg btn-primary"
      href="/docs/5.0/components/navbar/"
      target="_blank"
      role="button"
      >View navbar docs »</a
    >
  </div>
</main>
