<main class="container align-self-center d-flex">
  <div class="bg-light p-5 rounded border mt-5 align-self-center">
    <h1>404: Not found</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eum magni
      unde officiis aut, a, similique porro ipsam delectus iusto odio aspernatur
      cupiditate quis nihil. Recusandae laboriosam commodi corporis quasi!
    </p>
    <a class="btn btn-lg btn-primary" routerLink="/" role="button"
      >Volver al home »</a
    >
  </div>
</main>
